<!DOCTYPE html>
<html lang="en" xmlns:h1="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
</head>
<body>
<div class="flex flex-col justify-center items-center">
<div class="relative overflow-x-auto">
    <div class="pb-4 bg-white dark:bg-gray-900">
        <h2 class="text-3xl py-4 font-bold dark:text-white">Employeers</h2>
        <button data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="m-4 block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
            Add Employee
        </button>
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative mt-1">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
            </div>
            <input type="text" id="table-search" class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for items">
        </div>
    </div>
    <table class="w-9/12 text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-white bg-blue-700 uppercase ">
        <tr class="bg-blue-700 border-b border-blue-400">
            <th scope="col" class="px-6 py-3 bg-sky-500	">
                First name
            </th>
            <th scope="col" class="px-6 py-3 bg-sky-500	">
                Last name
            </th>
            <th scope="col" class="px-6 py-3 bg-sky-500	">
                Role
            </th>
            <th colspan="2" scope="col" class="px-6 py-3 bg-sky-500	text-center">
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employeer : ${listEmployees}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td th:text="${employeer.firstName}" class="px-6 py-4"></td>
            <td th:text="${employeer.lastName}" class="px-6 py-4"></td>
            <td th:text="${employeer.role}" class="px-6 py-4"></td>
            <td class="px-6 py-4">
                    <button class="text-red-500" th:onclick="'deleteEmployeer(' + ${employeer.id} + ')'"  type="submit">Delete</button>
            </td>
            <td class="px-6 py-4">
                <button class="text-green-500">Update</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
    <nav class="py-2" th:if="${TotalePages > 1}" aria-label="Page navigation example">
        <ul class="inline-flex items-center -space-x-px">
            <li th:if="${currentPage > 1}">
                <a th:href="@{'/page/'+${currentPage - 1}}" class="px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
            </li>
            <li th:each="i: ${#numbers.sequence(1,TotalePages)}">
                <a th:href="@{'/page/'+${i}}" class="px-3 py-2 leading-tighrt text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">[[${i}]]</a>
            </li>
            <li th:if="${currentPage < TotalePages}">
                <a th:href="@{'/page/'+${currentPage + 1}}" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
            </li>
        </ul>
    </nav>
</div>
<!-- Main modal -->
<div id="authentication-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
    <div class="relative w-full h-full max-w-md md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="authentication-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">ADD NEW EMPLOYEE</h3>
                <form class="space-y-6" th:action="@{/addEmployeer}" th:object="${employeer}" method="post">
                    <div>
                        <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First name</label>
                        <input type="text" name="FirstName" id="firstName" th:field="*{firstName}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                    </div>
                    <div>
                        <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last name</label>
                        <input type="text" name="LastName" id="lastName" th:field="*{lastName}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                    </div>
                    <label for="role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Role</label>
                    <select id="role" name="Role" th:field="*{role}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required >
                        <option selected value="" disabled>Choose a country</option>
                        <option value="admin">Admin</option>
                        <option value="Author">Author</option>
                    </select>
                    <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">add</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
<script>
   function deleteEmployeer(id){
       if(confirm("Do you want to delete this employeer ?")){
           fetch(`/deleteEmployeer?id=${id}`, {
               method: 'DELETE',
               headers: {'Content-Type': 'application/json'}
           })
               .then(res=>{
                   window.location.reload();
               })
       }

   }
</script>
</body>
</html>